Set

* index ile erişilemez, sıralı değillerdir.
* Değiştirilemezler (immutable). Eleman ekleme çıkarma işlemi yapılabilir ama setin içindeki eleman değiştirilemez.
* {} parantez içerisinde tanımlanır. Elemanlar virgüller ile ayrılır.
* Farklı tipte veriler içerebilir.
* Duplicate veri taşıyamazlar.

In [ ]:
int_set = {1,2,3,4}
string_set = {"İdil", "Buket", "Yağmur"}
mix_set = {"Sisterslab", 2022, True, 3.13}

print(mix_set)

In [ ]:
print(type(mix_set))

In [ ]:
my_set = {1,3,4,2,1,3,4,2,5} #duplicate veriler kaldırılır.
print(my_set)

In [ ]:
my_list = [1,3,4,2,1,3,4,2,5,5,4,3]
print(my_list)

#set ile duplicate verilerin silinmesi
my_set = set(my_list)
print(my_set)

my_list = list(my_set)
print(my_list)

#döngü ile kontrol (duplicate verilerin silinmesi)
unique_list = []
for i in my_list:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

In [ ]:
#Set içerisinde liste
my_set = {"Nurcan", "Nurdan", "Ceyda", ["İdil","Nurefşan"]}
print(my_set)

In [ ]:
#Set içerisinde tuple, tuple içerisinde list
my_set = {"Nurcan", "Nurdan", "Ceyda", ("İdil","Nurefşan", ["Aysel","Merve"])}
print(my_set)

Boş bir set oluşturma

* my_list -> []
* my_tuple -> ()

In [ ]:
my_set = {} #boş dictionary oluşturur.
print(type(my_set))

In [ ]:
empty_set = set() #boş set oluşturur.
print(type(empty_set))

Set elemanlarına erişim

In [ ]:
movies = {"The Office","The Big Bang Theory","Person of Interest"}

for item in movies:
    print(item)

Set içerisinde eleman kontrolü

In [ ]:
movies = {"The Office","The Big Bang Theory","Person of Interest"}


if "Harry Potter" in movies:
    print("Mevcut")
else:
    print("Mevcut değildir")

Bir setin uzunluğu

In [ ]:
movies = {"The Office","The Big Bang Theory","Person of Interest"}
print(len(movies))

Bir sete eleman ekleme

* add() sete yeni bir eleman ekler.
* update() ile birden fazla ekleme işlemi yapılır.

In [ ]:
books = {"Serenad", "Küçük Prens", "Şeker Portakalı", "Harry Potter"}

books.add("İnce Memed")
print(books)

books.update(["Demir Ökçe", "1984"])
print(books)

Bir set içerisinden eleman silme

* remove()
* discard()
* pop()
* clear()
* del set

In [ ]:
#remove()

my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10}
my_set.remove(2)

print(my_set)

In [ ]:

my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10}
my_set.remove(11)

In [ ]:
#discard()

my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10}
my_set.discard(3)

print(my_set)

In [ ]:
#remove() aksine hata vermez
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10}
my_set.discard(11)

print(my_set)

In [ ]:
#pop()
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10}
my_set.pop() #rastgele  bir eleman siler

print(my_set)

In [ ]:
#clear()
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10}
my_set.clear() #set'i tamamen temizler boş çıktı verir

print(my_set)

In [ ]:
#del set
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10}
del my_set #set'i tamamen siler

print(my_set)

Set üzerinde kullanabileceğimiz operatöreler
* union() -> |
* intersection() -> &
* difference() -> -
* symmetric_difference -> ^

union()

İki setin birleştirilme işlemi için kullanılır
Her iki sette var olan veriyi tek olarak alır

In [ ]:
#union()
my_set1 = {"Asena", "Başak", "Bircan", "Emre"}
my_set2 = {"Emre", "Burak", "Bilal"}

my_set3 = my_set1 | my_set2
my_set4 = my_set1.union(my_set2)

print(my_set3)
print(my_set4)

intersection()

Her iki sette yer alan ortak elemanları gösterir.

In [ ]:
#intersection()
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

new_set = my_set1 & my_set2
new_set2 = my_set1.intersection(my_set2)

print(new_set)
print(new_set2)

intersection_update() -> orijinal seti kesişim kümesiyle günceller

In [ ]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}
print(my_set1)
my_set1.intersection_update(my_set2)
print(my_set1)

difference()

In [ ]:
#difference()
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

new_set1 = my_set1 - my_set2
new_set2 = my_set1.difference(my_set2)

print(new_set1)
print(new_set2)

difference_update() -> orijinal seti fark kümesiyle günceller

In [ ]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

print(my_set2)
new_set2 = my_set1.difference_update(my_set2)
print(my_set2)

symmetric_difference() -> ortak eleman dışındaki elemanları alır

In [ ]:
#symmetric difference
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

unique_set1 = my_set1 ^ my_set2
unique_set2 = my_set1.symmetric_difference(my_set2)

print(unique_set1)
print(unique_set2)

symmetric_difference_update()

In [ ]:
#symmetric_difference_update()
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

print(my_set2)
my_set2.symmetric_difference_update(my_set1)
print(my_set2)

**Kopyalama İşlemleri**

* copy()
* set()
* = operatörü

In [ ]:
# = operatörü
my_set = {2022, True, "Iphone", "Macbook"}

my_set2 = my_set
my_set.add(19)

print(my_set)
print(my_set2)

In [ ]:
# copy()
my_set = {2022, True, "Iphone", "Macbook"}

my_set2 = my_set.copy()
my_set.add(19)

print(my_set)
print(my_set2)

In [ ]:
# set()
my_set = {2022, True, "Iphone", "Macbook"}

my_set2 = set(my_set)
my_set.add(19)

print(my_set)
print(my_set2)

subset & superset

- issubset() -> alt küme kontrolü
- issuperset() -> üst küme kontrolü

In [ ]:
my_set = {3,"Python",4,7,True}
sub_set = {"Python"}

print(sub_set.issubset(my_set))
print(my_set.issuperset(sub_set))

Frozenset -> Değişmez bir set oluşturmak içinn kullanılır

In [ ]:
name_set = {"Merve", "Hilal", "Nihal"}
frozen_set = frozenset(name_set)

frozen_set.add("Aysel") #Hata verir

new_set = {expresssion(i) for i in my_set if i in condition}

In [ ]:
#1'den 10'a kadar olan sayıların iki katını ekrana basar
new_set  ={1*2 for i in range(1,10)}

print(new_set)

In [ ]:
#1'den 10'a kadar sadece çift sayıların iki katını alıp ekrana basar

new_set = {1*2 for i in range(1,10) if i % 2 == 0}
print(new_set)

In [ ]:
# Bir listenin tüm elemanlarını bir sete ekleme işlemi 

my_set = {1,2,3,4,5}
my_list = [4,5,6,7]

my_set.update(my_list)
print(my_set)

In [ ]:
#İki sette yer alan farklı elemanlardan bir set oluşturma

my_set = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

print(my_set.symmetric_difference(my_set2))